{% extends 'layout.html' %}

{% block content %}
{% if warning is defined %}
    {% include 'warning.html' %}
{% else %}
<h2>{{ answers.question }}</h2>
<h4>Question posée par {{ sondage.auteur }}</h4>
<form method="post">
{% if answers.question %}
	  {% if answers.answer1 %}
	  <h3>
	    <label>{{ answers.answer1 }}</label>
	  </h3>

	  <div class="progress">
	  {% set pourcent = (answers.nb1/total.nb)*100 %}
	    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{pourcent}}%;">
	      {{pourcent}}%
	    </div>
	  </div>
	{% endif %}

	{% if answers.answer2 %}
	  <h3>
	    <label>{{ answers.answer2 }}</label>
	  </h3>

	  <div class="progress">
	  {% set pourcent = (answers.nb2/total.nb)*100 %}
	    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{pourcent}}%;">
	      {{pourcent}}%
	    </div>
	  </div>
	{% endif %}

	{% if answers.answer3 %}
	  <h3>
	    <label>{{ answers.answer3 }}</label>
	  </h3>

	  <div class="progress">
	  {% set pourcent = (answers.nb3/total.nb)*100 %}
	    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{pourcent}}%;">
	      {{pourcent}}%
	    </div>
	  </div>
	{% endif %}
{% endif %}
</form>
{% endif %}
{% endblock %}