<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Social Sondage</title>
        <link rel="stylesheet" href="{{ app.request.basePath }}/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ app.request.basePath }}/css/style.css" />
        <link rel="icon" type="image/x-icon" href="{{ app.request.basePath }}/favicon.ico" />
    </head>
    <body>
        
    <h1>
        <img src="{{ app.request.basePath }}/imgs/poll.png"/>
        Social <span class="sondage">Sondage</span>
    </h1>
    <nav class="navbar navbar-default">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% set active_page = active_page|default('home') %}
            <li {% if active_page == 'home' %}class="active"{% endif %}><a href="{{ path('home') }}">Accueil</a></li>
            {% if app.session.get('user') %}
            <li {% if active_page == 'logout' %}class="active"{% endif %}><a href="{{ path('logout') }}">Deconnection</a></li>
            <li {% if active_page == 'addsondage' %}class="active"{% endif %}><a href="{{ path('addsondage') }}">Nouveau sondage</a></li>
            {% else %}
            <li {% if active_page == 'signin' %}class="active"{% endif %}><a href="{{ path('signin') }}">Inscription</a></li>
            <li {% if active_page == 'login' %}class="active"{% endif %}><a href="{{ path('login') }}">Identification</a></li>
            {% endif %}
            <li {% if active_page == 'sondages' %}class="active"{% endif %}><a href="{{ path('sondages') }}">Sondages</a></li>

          </ul>
        </div>
    </nav> 

    {# defined works with variable names #}
    {% if error is defined %}
        {% include 'error.html' %}
    {% endif %}
    {% if success is defined %}
        {% include 'success.html' %}
    {% endif %}
    
    {% block content %}{% endblock %}

    
    
    </body>
</html>


